
/*@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */

* {
    box-sizing: border-box;
    --font-family: 'Mark Pro', sans-serif;
}



.col{
    border-radius: 100px;
    text-align: center;
    justify-content: flex-end;
}

.col h1 b {
    border-radius: 100px;
    text-align: left;
    justify-content: flex-end;
    font-size: 6vw;
}

.col3{
    background-image: linear-gradient(to bottom right, rgb(23, 13, 63),rgb(0, 0, 0));
    color: white;
    display: block;
    font-weight: bolder;
}


.col2 h1 b {
    margin-left: 100px;
    text-align: right;
    justify-content: flex-start;
    font-size: 9vw;
    line-height: 100%;
    letter-spacing: -.07em;
    display: flex;
    padding: 0px;
    margin-top: 50px;
    background-image: linear-gradient(to bottom right, rgb(234, 97, 188),rgb(44, 77, 239));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    /*text-shadow: 2px 2px 5px black;*/
    font-weight: bolder;
}

.col3 h1 b{
    margin-left: 100px;
    text-align: right;
    /*justify-content: flex-end;*/
    font-size: 9vw;
    line-height: 100%;
    letter-spacing: -.07em;
    display: flex;
    padding: 0px;
    margin-top: 50px;
}


.col4 h1 b a{
    margin-right: 100px;
    text-align: right;
    justify-content: flex-end;
    font-size: 9vw;
    line-height: 100%;
    letter-spacing: -.07em;
    display: flex;
    padding: 0px;
    margin-top: 50px;
    background-image: linear-gradient(to bottom right, rgb(234, 97, 188),rgb(44, 77, 239));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
}


.navbar{
    background:none;
}

.row{
    display:flexbox;
}

.container {
    margin-top: 100px;
}



.second-back{
    content: url(/img/second_right.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    max-width: 100%;
    top: 800px;
    width: 200px;
    height: 350px;
    z-index: 10;
}

.third-back{
    content: url(/img/third_back.png);
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    max-width: 100%;
    top: 1500px;
    width: 200px;
    height: 260px;
    z-index: 10;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    margin-right: 100px;
}

.fourth-back{
    content: url(/img/fourth_back.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    max-width: 100%;
    top: 2000px;
    width: 200px;
    height: 280px;
    z-index: 10;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    margin-left: 100px;
}

.fifth-back{
    content: url(/img/fifth_back.png);
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    max-width: 100%;
    top: 2750px;
    width: 230px;
    height: 300px;
    z-index: 10;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    margin-right: 50px;
}

.container-new h1{
    color: white;
}

section{
    background-image: linear-gradient(to bottom right, rgb(23, 13, 63),rgb(0, 0, 0));
    color: white;
    /*border-bottom-left-radius: 50% 10%;
    border-bottom-right-radius: 50%10%;*/
    display: block;
    border-bottom: 0px;
    border-color: aqua;
}



.pic {
    content: url(/img/back_1.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 200px;
    max-width: 100%;
    width: 467px;
    height: 467px;
    z-index: 10;
  }

.pic2 {
    content: url(/img/back_3.png);
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    max-width: 100%;
    top: 300px;
    width: 480px;
    height: 410px;
    z-index: 10;
  }

  .img-fluid{
    box-sizing: border-box;
    position: relative;
    margin: 0px;
    height: 400px;
    width: 220px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  


.container-new{ 
    margin-right: auto; 
    margin-left: auto; 
    width: 30rem; 
    max-width: 100%; 
    height: 30rem; 
}

.container-new img{ 
    margin-right: auto; 
    margin-left: auto; 
    width: 13rem; 
    max-width: 100%; 
    height: 22rem; 
    margin-top: 80px;
}

@media only screen and (max-width: 960px){
.container-new {
    
    height: 10rem;
}
}

@media only screen and (max-width: 960px){
    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, 1fr);
        gap: 5px;
        grid-auto-rows: minmax(100px, auto);
        padding: 10px;
        flex-flow:column;
        }
        }

@media only screen and (max-width: 960px){
    .second-back {
       display: none;
        }
        }

@media only screen and (max-width: 960px){
    .headerr h1 b strong{
        padding-top: 200px;
        font-size: 50vw;
        margin-bottom: 0px;
        }
        }

        

@media only screen and (max-width: 960px){
    .new-c {
        text-align: center;
        margin-top: 100px;
        }
        }

@media only screen and (max-width: 960px){
    form {
        margin-top: 50px;
        margin-bottom: 50px;
        }
        }
    
@media only screen and (max-width: 960px){
    .third-back {
        display: none;
        }
        }

@media only screen and (max-width: 960px){
    .fourth-back {
        display: none;
        }
        }

@media only screen and (max-width: 960px){
    .fifth-back {
        width: 130px;
        height: 200px;
        top: 2400px;
        margin-right: 30px;
        }
        }


@media only screen and (max-width: 960px){
    .col2 h1 strong b{
        margin-left: 10px;
        margin-bottom: 80px;
        font-size: 10vw;
        }
      }


@media only screen and (max-width: 960px){
.col4 h1 b a{
    margin-right: 10px;
    font-size: 9;
    }
    }

@media only screen and (max-width: 960px){
    .pic {
        display: none;
            }
        }

@media only screen and (max-width: 600px){
           .headerr h1 b {
            margin: 20px 20px;
            margin-top: 0px;
            padding-top: 10px;
            margin-bottom: 20px;
            font-size: 40px;
        }
        }

@media only screen and (max-width: 960px){
    .pic2 {
        display: none;
    }
    }

.py-6 {
    padding-top: 40px !important;
    padding-bottom: 10px !important;
}

.p-3{
    margin: 2px;
    padding: 1rem;
}

.px-3 {
    padding-right: 16px !important;
    padding-left: 16px !important;
}

.text-center {
    text-align: center !important;
    padding-bottom: 5px;
    padding-top: 20px;
}

.text-center img {
    border-radius: 30px;
    justify-content: flex-end;

}

.d-flex {
    display: flex !important;
}

.list-style-none {
    list-style: none !important;
}

@media (min-width: 768px){
.f4 {
    font-size: 16px !important;
}
}

.flex-justify-center {
    justify-content: center !important;
}

.list-inline{
    font-size: 1.5vw;
    
}

.headerr h1 b strong{
    /*background-image: linear-gradient(to bottom right, rgb(234, 97, 188),rgb(89, 147, 247));*/
    -webkit-background-clip: text;
    background-clip: text;
   /* -webkit-text-fill-color: transparent;*/
    font-size: 9vw;
    line-height: 100%;
    letter-spacing: -.07em;
    display: flex;
    margin: 50px 50px;
    margin-top: 0px;
    padding-top: 10px;
    position: relative;
    text-align: center;
    justify-content: center;
    font-weight: bolder;
    box-sizing: border-box;
   }

   .headerr h2{
    margin: 20px 20px;
   }




i.ri-compasses-2-fill{
    font-size: 50px;
    color: blueviolet;
}

i.ri-lightbulb-flash-fill{
    font-size: 50px;
    color: rgb(232,3,104);
}

i.ri-briefcase-4-fill{
    font-size: 50px;
    color: rgb(249, 54, 115);
}

.headerr h2 span{
    font-size: 50px;
}

form {
    margin-top: 50px;
    box-sizing: border-box;
    align-items: center;
    margin-bottom: 50px;
}

input[type=text]{
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid rgb(255, 255, 255);  
  background: none;
  color: white;
  width: 200px;
}

textarea {
    border: none;
    background: none;
    border-bottom: 2px solid rgb(255, 255, 255);
    color: white;
}

.icons{
    margin-left: 100px;
    font-size: 40px;
}

button .btn, .btn-dark{
    border: none;
    border-radius: 50%;
    width: 100px;
    margin-bottom: 20px;
}

button{
    border-radius: 50%;
    margin-bottom: 20px;
}

.grid-container{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   gap: 5px;
   grid-auto-rows: minmax(100px, auto);
   padding: 10px;
   flex-flow:column;
}

.first-grid img{
    width: 650px;
    height: 420px;
    position: relative;
    border-radius: 15px;
}

.first-grid{
    grid-column: 2 / 2;
    grid-row: 1;
}

.second-grid img{
    width: 500px;
    height: 320px;
    position: relative;
    border-radius: 20px;
}

.second-grid{
    grid-column: 2 / 2;
    grid-row: 2 / 2;
}

.third-grid img{
    width: 300px;
    height: 210px;
    position: relative;
    border-radius: 20px;
    
}

.third-grid{
    grid-column: 3 / 3;
    grid-row: 2 / 2;
}
