
/*@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */

* {
    box-sizing: border-box;
    --font-family: 'Mark Pro', sans-serif;
}



.col {
    border-radius: 30px;
    justify-items: center;
    width: 8em;
    height: 8em;
   
}

.col h1 b {
    border-radius: 100px;
    text-align: left;
    justify-content: flex-end;
    font-size: 6vw;
}

.col3{
    background-image: linear-gradient(to bottom right, rgb(23, 13, 63),rgb(0, 0, 0));
    color: white;
    display: block;
    font-weight: bolder;
}


.col2 h1 b {
    margin-left: 100px;
    text-align: right;
    justify-content: flex-start;
    font-size: 8vw;
    line-height: 100%;
    letter-spacing: -.07em;
    display: flex;
    padding: 0px;
    margin-top: 50px;
    background-image: linear-gradient(to bottom right, rgb(234, 97, 188),rgb(44, 77, 239));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    /*text-shadow: 2px 2px 5px black;*/
    font-weight: bolder;
}

.col3 h1 b{
    margin-left: 100px;
    text-align: right;
    /*justify-content: flex-end;*/
    font-size: 9vw;
    line-height: 100%;
    letter-spacing: -.07em;
    display: flex;
    padding: 0px;
    margin-top: 50px;
}


.col4 h1 b a{
    margin-right: 100px;
    text-align: right;
    justify-content: flex-end;
    font-size: 9vw;
    line-height: 100%;
    letter-spacing: -.07em;
    display: flex;
    padding: 0px;
    margin-top: 50px;
    background-image: linear-gradient(to bottom right, rgb(234, 97, 188),rgb(44, 77, 239));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
}


.navbar .navbar-expand-lg .navbar-light .bg-light{
    background:none;
    position: static;
}



.container {
    margin-top: 100px;
}



.second-back{
    content: url(/img/second_right.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    max-width: 100%;
    top: 800px;
    width: 200px;
    height: 350px;
    z-index: 10;
}

.third-back{
    content: url(/img/third_back.png);
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    max-width: 100%;
    top: 1350px;
    width: 200px;
    height: 260px;
    z-index: 10;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    margin-right: 100px;
}

.fourth-back{
    content: url(/img/fourth_back.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    max-width: 100%;
    top: 2000px;
    width: 200px;
    height: 280px;
    z-index: 10;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    margin-left: 100px;
}

.fifth-back{
    content: url(/img/fifth_back.png);
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    max-width: 100%;
    top: 3250px;
    width: 230px;
    height: 300px;
    z-index: 10;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    margin-right: 50px;
}

.container-new h1{
    color: white;
}

section {
    /*background-image: url(/img/background_1.jpg);*/
    background-image: linear-gradient(to bottom right, rgb(23, 13, 63),rgb(0, 0, 0));
    color: white;
    background-repeat: no-repeat;
    /*border-bottom-left-radius: 50% 10%;
    border-bottom-right-radius: 50%10%;*/
    display: relative;
    border-bottom: 0px;
    border-color: aqua;
    max-width: 100%;
    background-size: cover;
}



.pic {
    content: url(/img/back_1.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 200px;
    max-width: 100%;
    width: 467px;
    height: 467px;
    z-index: 10;
  }

.pic2 {
    content: url(/img/back_3.png);
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    max-width: 100%;
    top: 300px;
    width: 480px;
    height: 410px;
    z-index: 10;
  }

  .img-fluid{
    box-sizing: border-box;
    position: relative;
    margin: 0px;
    height: 400px;
    width: 220px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  


.container-new{ 
    margin-right: auto; 
    margin-left: auto; 
    width: 30rem; 
    max-width: 100%; 
    height: 30rem; 
}

.container-new img{ 
    margin-right: auto; 
    margin-left: auto; 
    width: 13rem; 
    max-width: 100%; 
    height: 22rem; 
    margin-top: 80px;
}

@media only screen and (max-width: 960px){
.container-new {
    
    height: 10rem;
}
}

@media only screen and (max-width: 960px){
    .third-grid {
        grid-auto-flow: ;
        
                }
        }


        
@media only screen and (max-width: 960px){
    .second-back {
       display: none;
        }
        }

@media only screen and (max-width: 960px){
    .headerr h1 b strong{
        padding-top: 200px;
        font-size: 50vw;
        margin-bottom: 0px;
        }
        }

@media only screen and (max-width: 760px){
    .grid-container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        }
        }   

@media only screen and (max-width: 760px){
    .first-grid img, .second-grid img, .third-grid img{
        grid-column: auto;
        grid-row: auto;
        }
        }  


@media only screen and (max-width: 960px){
    .new-c {
        text-align: center;
        margin-top: 100px;
        }
        }

@media only screen and (max-width: 960px){
    form {
        margin-top: 50px;
        margin-bottom: 50px;
        }
        }
    
@media only screen and (max-width: 960px){
    .third-back {
        display: none;
        }
        }

@media only screen and (max-width: 960px){
    .fourth-back {
        display: none;
        }
        }

@media only screen and (max-width: 960px){
    .fifth-back {
        width: 130px;
        height: 200px;
        top: 6500px;
        margin-right: 5px;
        }
        }


@media only screen and (max-width: 960px){
    .col2 h1 strong b{
        margin-left: 10px;
        margin-bottom: 0px;
        font-size: 10vw;
        }
      }


@media only screen and (max-width: 960px){
.col4 h1 b a{
    margin-right: 10px;
    font-size: 9;
    }
    }

@media only screen and (max-width: 960px){
    .pic {
        display: none;
            }
        }

@media only screen and (max-width: 600px){
           .headerr h1 b {
            margin: 20px 20px;
            margin-top: 0px;
            padding-top: 10px;
            margin-bottom: 20px;
            font-size: 40px;
        }
        }

@media only screen and (max-width: 960px){
    .pic2 {
        display: none;
    }
    }


@media only screen and (max-width: 960px){
    . {
        display: none;
    }
    }


.py-6 {
    padding-top: 40px !important;
    padding-bottom: 10px !important;
}

.p-3{
    margin: 2px;
    padding: 1rem;
}

.px-3 {
    padding-right: 16px !important;
    padding-left: 16px !important;
}

.text-center {
    text-align: center !important;
    padding-bottom: 5px;
    padding-top: 20px;
}

.text-center2 {
    text-align: center !important;
    padding-bottom: 5px;
    padding-top: 20px;
    border-radius: 20px;
    
}

.text-center img {
    border-radius: 30px;
    justify-content: flex-end;
    width: 15em;
    height: 8em;
    z-index: 10px;
}

.col-md-4 img {
    border-radius: 15px;
    justify-content: flex-start;
    width: 20em;
    height: 10.4em;
    z-index: 10px;
    justify-self: right;
    /*box-shadow: 10px 20px 20px rgb(212, 211, 211);*/
}

.col-md-4{
    padding-bottom: 10px;
    z-index: 50;
}

.d-flex {
    display: flex !important;
}

.list-style-none {
    list-style: none !important;
}

@media (min-width: 768px){
.f4 {
    font-size: 16px !important;
}
}

.flex-justify-center {
    justify-content: center !important;
}

.list-inline{
    font-size: 1.5vw;
    
}

.headerr h1 b strong{
    /*background-image: linear-gradient(to bottom right, rgb(234, 97, 188),rgb(89, 147, 247));*/
    -webkit-background-clip: text;
    background-clip: text;
   /* -webkit-text-fill-color: transparent;*/
    font-size: 9vw;
    line-height: 100%;
    letter-spacing: -.07em;
    display: flex;
    margin: 50px 50px;
    margin-top: 0px;
    padding-top: 10px;
    position: relative;
    text-align: center;
    justify-content: center;
    font-weight: bolder;
    box-sizing: border-box;
   }

   .headerr h2{
    margin: 20px 20px;
   }


i.ri-compasses-2-fill{
    font-size: 50px;
    color: blueviolet;
}

i.ri-lightbulb-flash-fill{
    font-size: 50px;
    color: rgb(232,3,104);
}

i.ri-briefcase-4-fill{
    font-size: 50px;
    color: rgb(249, 54, 115);
}

i.ri-suitcase-fill{
    font-size: 30px;
    color: rgb(180, 3, 171);
}



.headerr h2 span{
    font-size: 50px;
}

form {
    margin-top: 50px;
    box-sizing: border-box;
    align-items: center;
    margin-bottom: 50px;
}

input[type=text]{
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid rgb(255, 255, 255);  
  background: none;
  color: white;
  width: 200px;
}

textarea {
    border: none;
    background: none;
    border-bottom: 2px solid rgb(255, 255, 255);
    color: white;
}

.icons{
    margin-left: 100px;
    font-size: 40px;
}

button .btn, .btn-dark{
    border: none;
    border-radius: 50%;
    width: 100px;
    margin-bottom: 20px;
}

button{
    border-radius: 50%;
    margin-bottom: 20px;
}


/*svg {
    z-index: -20;
    position: absolute;
    display: block;
    margin-left: 30%;
    margin-top: 11%;
    box-sizing: border-box;
}*/





@media only screen and (max-width: 960px){
    .col-md-12 img{
        margin-left: 0em;
        position: relative;
        top: -100px;
    }
}

.container1{
    padding: 50px;
}

.row2{
    display: flex;
    position: relative;
    box-sizing: border-box;
    margin-left: 50px;
    margin-right: 50px;
    padding: auto;
    float: right;
}

.col-sm-3 img{
    border-radius: 15px;
    justify-content: flex-start;
    width: 10em;
    height: 5.4em;
    z-index: 10px;
    justify-self: right;
    box-shadow: 10px 20px 20px rgb(212, 211, 211);
}

.abi img{
    height: 4.5em;
    width: 12em;
}

.john img{
    height: 12em;
    width: 12em;
    padding: 1em;
}

.col-md-3 img{
    width: 100%;
}

.testimonials .swiper-slide {
    opacity: 0.3;
  }
  @media (max-width: 1199px) {
    .testimonials .swiper-slide-active {
      opacity: 1;
    }
    .testimonials .swiper-pagination {
      margin-top: 0;
    }
  }
  @media (min-width: 1200px) {
    .testimonials .swiper-slide-next {
      opacity: 1;
      transform: scale(1.12);
    }
  }

  .swiper-slide img{
    width: 20%;
    height: 20%;
  }

  /*CARDS START*/

.hero {
  display: inline-block;
  position: relative;
  width: 300px;
  min-width: 300px;
  height: 300px;
  border-radius: 30px;
  overflow:hidden;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
  margin: 30px;
}

.hero-profile-img {
  height: 100%;

}

.hero-description-bk {
  background-image: linear-gradient(0deg , #3f5efb, #fc466b);
  border-radius: 10px;
  position: absolute;
  top: 55%;
  left: -5px;
  height: 65%;
  width: 108%;
  /*transform: skew(19deg, -9deg);*/
}

.second .hero-description-bk {
  background-image: linear-gradient(0deg , #3f5efb, #fc466b)
}

.hero-logo {
  height: 100px;
  width: 100px;
  border-radius: 20px;
  /*background-color: #fff;*/
  position: absolute;
  bottom: 30%;
  left: 30px;
  overflow:visible;
}

.hero-logo img {
  height: 100%;
  /*box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.7);*/
}

.hero-description {
  position: absolute;
  color: #fff;
  font-weight: 900;
  left: 150px;
  bottom: 26%;
}

.hero-btn {
  position: absolute;
  color: #fff;
  right: 30px;
  bottom: 10%;
  padding: 10px 20px;
  
}

.hero-btn a {
  color: #fff;
}

.hero-date {
  position: absolute;
  color: #fff;
  left: 30px;
  bottom: 10%;
}
/* END CARD DESIGN */

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  background-color: #eee;
  min-height: 100vh;
}
.btn i:before {
  width: 14px;
  height: 14px;
  position: fixed;
  color: #fff;
  background: #0077B5;
  padding: 10px;
  border-radius: 50%;
  top:5px;
  right:5px;
}

/*CARDS END*/

.projects{
    padding-left: 10px;
    margin: 50px;
}

@media only screen and (max-width: 1000px){
    .projects {
        padding-left: 0;
        margin: 0;
            }
        }


.rad img{
    border-radius: 30px;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    overflow: hidden;
 }

 .rad2 img{
    border-radius: 30px;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-color: white;
    border-width: 7px;
    border-style:solid;
 }


 .rad2 img::after{
    content: url('/img/GRILL2.png');
    position: absolute;
    z-index: 10;
    max-width: 100%;
 }

 .rad{
    padding-left: 130px;
    
 }

 @media only screen and (max-width: 960px){
    .rad {
        padding-left: 20px;
        margin-right: 80px;
        
            }
        }

@media only screen and (max-width: 960px){
    h6.col-md-12.rad3 {
        padding-right: 10px;
        margin-left: 100px;
        
            }
        }

 .rad3{
    text-align: right;
    padding-right: 100px;
    }

span.numbers{
    font-size: 40px;
    line-height: 100%;
    letter-spacing: -.07em;
    color: rgb(205, 205, 205);
 }





